body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em;
}

.banner{
    background-color:blue ;
    padding:14px 16px ;
}
.container{
    background-color:rgb(0, 255, 21) ;
    width: 100%;
}
.menu{
    background-color:rgb(255, 0, 0) ;
    width: 20%;
}
.content{
    background-color:rgb(255, 196, 0) ;
}
.right{
    background-color:rgb(179, 255, 0) ;
    padding: 15px;
}
.footer{
    background-color:rgb(233, 0, 214) ;
    padding: 10px;
}